<h1 mat-dialog-title>Operacije sa cenovnikom</h1>
<div mat-dialog-content style="margin-top: 25px;">
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="EditPricelist()">Modifikuj postojeci cenovnik</button>
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="CreatePricelist()">Napravi novi cenovnik</button>
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="DeletePricelist()">Obrisi stare cenovnike</button>
</div>
<div mat-dialog-actions style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="onNoClick()">Odustani</button>
</div>
