<h1 mat-dialog-title>Operacije sa redom voznje</h1>
<div mat-dialog-content style="margin-top: 25px;">
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="EditRedvoznje()">Modifikuj postojece redove voznje</button>
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="CreateRedvoznje()">Napravi novi red voznje</button>
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="DeleteRedvoznje()">Obrisi postojece redove voznje</button>
</div>
<div mat-dialog-actions style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="onNoClick()">Odustani</button>
</div>