.leftcolumn {
    width: 30%;
}

th.mat-header-cell {
  text-align: center;
  font-size: 15px;
}

table {
  width: 100%;
}

td {
  cursor: pointer;
}

tr > th {
  position: sticky;
  top: -16px;
  background: antiquewhite;
  font-weight: bold;
}

.td-not-allowed {
  cursor: not-allowed;
  background-color: rgb(199, 123, 123);
}
.td-not-allowed:active {
  pointer-events: none;
}
.disabled {
  background-color: rgb(199, 123, 123);
  cursor: not-allowed;
}
.disabled:active {
  pointer-events: none;
}

.fakeimg {
  margin-left: 0;
}

.map {
  width:100%; 
  height:590px; 
  float:right;
  outline-style: outset;
  margin-top: 10px;
}

.highlight{
  background: rgb(19, 189, 211);
  font-weight: bold;
  cursor: pointer;
}

.lines {
  height: 250px;
  overflow-y: auto;
  text-align: center;
}

.legend {
  font-size: 1.3em; 
  text-align: center; 
  border-radius: 20px; 
  font-style: italic;
}

.card {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin-top: 15px;
}

.map-buttons {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.center-h {
  text-align: center;
}


/**/
.delete-menu {
  top: -160.5px;
  left: 249.313px;
  position: relative;
  background: white;
  padding: 3px;
  color: #666;
  font-weight: bold;
  border: 1px solid #999;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
  margin-top: -10px;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  /* background: white; */
  /* position: relative; */
}
.delete-menu:hover {
  background: #eee;
}