.show {
    display: none;
}

.h2-center {
    text-align: center;
}

.login-button {
    display: block;
    margin: 0 auto;
    font-size: 1.3em;
    width: auto;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}