<form [formGroup]="passwordRecoveryFromGroup" style="margin-top: 150px;">
  <mat-card> 
  <h2 style="text-align: center;">Unos nove sifre</h2>
  <mat-form-field appearance="outline">
    <mat-label>Sifra</mat-label>
    <input matInput placeholder="Password" formControlName="newPassword" [type]=" !hide ? 'password' : 'text'"   required>
    <mat-error [ngClass]="{'show': passwordRecoveryFromGroup.controls.newPassword.hasError('required') && !passwordRecoveryFromGroup.controls.newPassword.hasError('minlength') }">
      Sifra treba da sadrzi minimalno <strong>6</strong> karaktera.
    </mat-error>
    <mat-hint [ngClass]="{'show': passwordRecoveryFromGroup.controls.newPassword.value }">
      Sifra je obavezna i treba da sadrzi minimalno <strong>6</strong> karaktera.
    </mat-hint>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" style="margin-top: 7px;">
    <mat-label>Potvrda sifre</mat-label>
    <input matInput placeholder="Confirm password" formControlName="confirmPassword" [type]=" !hide2 ? 'password' : 'text'"   required>
    <mat-error [ngClass]="{'show': validatePassword(passwordRecoveryFromGroup.controls.newPassword.value, passwordRecoveryFromGroup.controls.confirmPassword.value)}">
      Sifre se ne poklapaju, unesite validnu sifru.
    </mat-error>
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
      <mat-icon>{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" class="login-button" (click)="ChangePassword()">Sacuvaj novu sifru</button>
  <mat-hint style="color: green;" *ngIf="success">Uspesno promenjena sifra!</mat-hint>
  <button mat-raised-button color="primary" class="login-button" (click)="Login()" *ngIf="success">Povratak na login</button>
  </mat-card>
</form>
