<div class="content">
  <div class="row">
    <div class="leftcolumn">
      <div>
        <mat-card class="mat-card-width">
          <mat-form-field class='ticketsFilter'>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter linija">
          </mat-form-field>
        </mat-card>
      </div>
      <div class="card">
        <div class="fakeimg lines">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="TransportLineID">
              <th mat-header-cell *matHeaderCellDef> Smer </th>
              <td mat-cell *matCellDef="let element"> {{element.TransportLineID}} </td>
            </ng-container>
            <ng-container matColumnDef="FromTo">
                <th mat-header-cell *matHeaderCellDef> Linija </th>
                <td mat-cell *matCellDef="let element"> {{element.FromTo}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': row.Selected}"  (click)="selectLine(row)"></tr>
          </table>
        </div>
  </div>
  <mat-card *ngIf="colors.length > 0">
    <div class="legend">LEGENDA</div>
    <div *ngFor="let color of colors">
      <p [style.background-color]=color.color class="legend">{{color.line}}</p>
    </div>
  </mat-card>
</div>
<div #map class="map"></div>
