<h1 mat-dialog-title>Operacije sa korisnicima</h1>
<div mat-dialog-content style="margin-top: 25px;">
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="UserRoles()">Operacije sa ulogama postojecih korisnika</button>
    <button mat-raised-button color="primary" style="width: 100%; margin-bottom: 15px;" (click)="DeleteUser()">Izbrisi postojece korisnike</button>
</div>
<div mat-dialog-actions style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="onNoClick()">Odustani</button>
</div>
