<mat-card style="margin-top: 40px;">
    <h2 style="text-align: center;">Admin panel</h2>
    <button mat-raised-button color="primary" class="admin-buttons" (click)="Cenovnik()">Operacije sa cenovnikom</button>
    <hr>
    <button mat-raised-button color="primary" class="admin-buttons" (click)="RedVoznje()">Operacije sa redom voznje</button>
    <hr>
    <button mat-raised-button color="primary" class="admin-buttons" (click)="Mapa()">Operacije sa mapom</button>
    <hr>
    <button mat-raised-button color="primary" class="admin-buttons" (click)="Korisnici()">Operacije sa korisnicima</button>
</mat-card>

