<form [formGroup]="passwordRecoveryFormGroup">
  <h2 style="text-align: center;">Resetovanje sifre</h2>
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Email" type="email" formControlName="email" required>
    <mat-error [ngClass]="{ 'show': passwordRecoveryFormGroup.controls.email.hasError('email') }">
      Unesite validnu e-mail adresu.
    </mat-error>
    <mat-error [ngClass]="{ 'show': passwordRecoveryFormGroup.controls.email.hasError('required') }">
      E-mail je obavezan.
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="login-button" (click)="SendRecoveryMail()">Resetuj sifru</button>
  <b style="color: blue;" *ngIf="success">Ako postoji korisnik sa unetom email adresom bice mu poslat link za resetovanje passworda.</b>
</form>
